<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoibGlxdWlkc2hhcGUiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6
		XC9cL2dpdGh1Yi5jb21cL1ZhbGVudGluV2FsdGVyXC9MaXF1aWRTaGFwZSJd
		fSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2Ui
		Olt7Imxvd2VyQm91bmQiOiIxLjAuMCIsInVwcGVyQm91bmQiOiIyLjAuMCJ9
		XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6ImxvdHRpZS1p
		b3MiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5j
		b21cL2FpcmJuYlwvbG90dGllLWlvcyJdfSwicHJvZHVjdEZpbHRlciI6bnVs
		bCwicmVxdWlyZW1lbnQiOnsiYnJhbmNoIjpbIm1hc3RlciJdfX1dfSx7InNv
		dXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoibG90dGlldWkiLCJsb2NhdGlv
		biI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2phc3VkZXZc
		L0xvdHRpZVVJLmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsiYnJhbmNoIjpbIm1haW4iXX19XX0seyJzb3VyY2VDb250cm9s
		IjpbeyJpZGVudGl0eSI6InN3aWZ0dWktdmlzdWFsLWVmZmVjdHMiLCJsb2Nh
		dGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2x1Y2Fz
		YnJvd25cL3N3aWZ0dWktdmlzdWFsLWVmZmVjdHMiXX0sInByb2R1Y3RGaWx0
		ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5k
		IjoiMS4wLjMiLCJ1cHBlckJvdW5kIjoiMi4wLjAifV19fV19XSwiZGlzcGxh
		eU5hbWUiOiJDYW5pbmVDYWxjIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319
		LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJp
		b3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJD
		YW5pbmVDYWxjIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsi
		amV2b25sZXZpbi5DYW5pbmVDYWxjIl19LHsidGVhbUlkZW50aWZpZXIiOlsi
		OUY3VzI3MlJORCJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1
		bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENv
		bG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVl
		IjoiY3lhbiJ9fX0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcElj
		b24ifX0sImNhcGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWls
		aWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVu
		dGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7
		fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24i
		OnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1d
		fV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJs
		ZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRl
		bmNpZXMiOlt7InByb2R1Y3QiOlsiTGlxdWlkU2hhcGUiLCJMaXF1aWRTaGFw
		ZSIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkxvdHRpZSIsImxvdHRpZS1p
		b3MiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJMb3R0aWVVSSIsImxvdHRp
		ZXVpIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiU3dpZnRVSVZpc3VhbEVm
		ZmVjdHMiLCJzd2lmdHVpLXZpc3VhbC1lZmZlY3RzIixudWxsLG51bGxdfV0s
		ImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJy
		ZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InByb2Nl
		c3MiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn19
		LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiTGlx
		dWlkU2hhcGUiLCJMaXF1aWRTaGFwZSIsbnVsbCxudWxsXX0seyJwcm9kdWN0
		IjpbIkxvdHRpZSIsImxvdHRpZS1pb3MiLG51bGwsbnVsbF19LHsicHJvZHVj
		dCI6WyJMb3R0aWVVSSIsImxvdHRpZXVpIixudWxsLG51bGxdfSx7InByb2R1
		Y3QiOlsiU3dpZnRVSVZpc3VhbEVmZmVjdHMiLCJzd2lmdHVpLXZpc3VhbC1l
		ZmZlY3RzIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBw
		TW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNv
		dXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNp
		b24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		F2WHXYD+e/7tBuKpF5nC1Pdpx5XjcJeH5PwXu0Dz24s=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
