<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoibGlxdWlkc2hhcGUiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6
		XC9cL2dpdGh1Yi5jb21cL1ZhbGVudGluV2FsdGVyXC9MaXF1aWRTaGFwZSJd
		fSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2Ui
		Olt7Imxvd2VyQm91bmQiOiIxLjAuMCIsInVwcGVyQm91bmQiOiIyLjAuMCJ9
		XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6ImxvdHRpZS1p
		b3MiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5j
		b21cL2FpcmJuYlwvbG90dGllLWlvcyJdfSwicHJvZHVjdEZpbHRlciI6bnVs
		bCwicmVxdWlyZW1lbnQiOnsiYnJhbmNoIjpbIm1hc3RlciJdfX1dfSx7InNv
		dXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoibG90dGlldWkiLCJsb2NhdGlv
		biI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2phc3VkZXZc
		L0xvdHRpZVVJLmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsiYnJhbmNoIjpbIm1haW4iXX19XX0seyJzb3VyY2VDb250cm9s
		IjpbeyJpZGVudGl0eSI6InN3aWZ0dWktdmlzdWFsLWVmZmVjdHMiLCJsb2Nh
		dGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2x1Y2Fz
		YnJvd25cL3N3aWZ0dWktdmlzdWFsLWVmZmVjdHMiXX0sInByb2R1Y3RGaWx0
		ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5k
		IjoiMS4wLjMiLCJ1cHBlckJvdW5kIjoiMi4wLjAifV19fV19XSwiZGlzcGxh
		eU5hbWUiOiJDYW5pbmVDYWxjIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319
		LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJp
		b3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJD
		YW5pbmVDYWxjIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsi
		amV2b25sZXZpbi5DYW5pbmVDYWxjIl19LHsidGVhbUlkZW50aWZpZXIiOlsi
		OUY3VzI3MlJORCJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1
		bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENv
		bG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVl
		IjoiY3lhbiJ9fX0sImFwcEljb24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6
		eyJyYXdWYWx1ZSI6InBhcGVyIn19fSwiY2FwYWJpbGl0aWVzIjpbXSwic3Vw
		cG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9y
		dGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsi
		bGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBv
		cnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxp
		ZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwi
		dHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBw
		TW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJMaXF1aWRT
		aGFwZSIsIkxpcXVpZFNoYXBlIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsi
		TG90dGllIiwibG90dGllLWlvcyIsbnVsbCxudWxsXX0seyJwcm9kdWN0Ijpb
		IkxvdHRpZVVJIiwibG90dGlldWkiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6
		WyJTd2lmdFVJVmlzdWFsRWZmZWN0cyIsInN3aWZ0dWktdmlzdWFsLWVmZmVj
		dHMiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1
		bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNl
		cyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlw
		ZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6
		W3sicHJvZHVjdCI6WyJMaXF1aWRTaGFwZSIsIkxpcXVpZFNoYXBlIixudWxs
		LG51bGxdfSx7InByb2R1Y3QiOlsiTG90dGllIiwibG90dGllLWlvcyIsbnVs
		bCxudWxsXX0seyJwcm9kdWN0IjpbIkxvdHRpZVVJIiwibG90dGlldWkiLG51
		bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFVJVmlzdWFsRWZmZWN0cyIs
		InN3aWZ0dWktdmlzdWFsLWVmZmVjdHMiLG51bGwsbnVsbF19XSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNl
		cyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319
		fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xz
		VmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		8H9hZ74V46A+LhdT1r0IRT2AjV9sonEidfQnBv3m20Y=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
